/* HomePage.css */

body {
  background-color: #f0f0f0;
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  margin: 0; /* Remove default margin */
}

/* Header styles */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #e3002b;
  color: #fff;
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  z-index: 100; /* Ensure it's above other content */
}

/* Logo styles */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 80px;
  height: auto;
  margin-right: 10px;
  transform: scale(0.8);
  transition: transform 0.5s ease-in-out;
}

.logo img:hover {
  transform: scale(1);
}

.logo h2 {
  font-size: 29px;
  margin: 0;
  padding: 0;
  color: #fff;
}

/* Menu styles */
.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul li {
  margin-right: 10px;
}

.menu ul li:last-child {
  margin-right: 0;
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  background-color: #c60226;
  font-weight: bold;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: dc0027;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.menu ul li a:hover {
  background-color: #9d001d;
  transform: scale(1.1);
}

/* Image section styles */
.home-image-section {
  margin-top: 100px;
  overflow-x: hidden;
}

/* Welcome section styles */
.home-welcome {
  margin: 0;
  margin-left: 100px;
  margin-right: 100px; /* Adjust the margin */
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.home-welcome h1 {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 15px;
  margin-bottom: 40px;
  transition: transform 0.3s ease;
}

.home-welcome h1:hover {
  transform: scale(1.1);
}
.home-beginning {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  margin-left: 100px;
  margin-right: 100px; /* Adjust the margin */
  padding: 10px;
  color: #333;
  text-align: left;
  background-color: #f9f9f9;
  border-radius: 10px;
  font-size: 26px;
}
/* Style the Project Info Section */
.home-first-aid-info {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px; /* Adjust the margin */
  background-color: #f9f9f9;
  color: #333;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.home-first-aid-info h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #333;
}

.home-first-aid-info p {
  font-size: 24px;
  color: #555;
  line-height: 1.25;
}

/* Style the Learn First Aid Section */
.home-information-and-recommendation {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px; /* Adjust the margin */
  background-color: #f9f9f9;
  color: #333;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.home-information-and-recommendation h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #333;
}

.home-information-and-recommendation p {
  font-size: 24px;
  color: #555;
  line-height: 1.25;
}

/* Style the Join Community Section */
.home-importance-of-learning {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px; /* Adjust the margin */
  background-color: #f9f9f9;
  color: #333;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.home-importance-of-learning h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #333;
}

.home-importance-of-learning p {
  font-size: 24px;
  color: #555;
  line-height: 1.25;
}

.lecture-start {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  margin-top: 120px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px; /* Adjust the margin */
  background-color: #f9f9f9;
  color: #333;
  padding: 60px;
  border-radius: 10px;
}

.lecture-start h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #333;
}

.lecture-start p {
  font-size: 24px;
  color: #555;
  line-height: 1.25;
  text-align: center;
}

.algorithm-start {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  margin-top: 120px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px; /* Adjust the margin */
  background-color: #f9f9f9;
  color: #333;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.algorithm-start h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #333;
}

.algorithm-start p {
  font-size: 24px;
  color: #555;
  line-height: 1.25;
}

.algorithm-chart {
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 15px; /*Adjust the margin */
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
}

.algorithm-node-start-end {
  background: #e3002b;
  color: white;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 5px 0; /* Top and bottom padding */
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  width: calc(100% - 1600px); /* Total width - left and right padding */
  margin-left: 800px; /* Left padding */
  margin-right: 800px; /* Right padding */
}
.algorithm-node-input-output {
  background: #ffffff;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 5px 0; /* Top and bottom padding */
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  width: calc(100% - 1600px); /* Total width - left and right padding */
  margin-left: 800px; /* Left padding */
  margin-right: 800px; /* Right padding */
}

.resources-start {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  margin-top: 120px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 10px; /* Adjust the margin */
  background-color: #f9f9f9;
  color: #333;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.resources-start h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #333;
}

.resources-start p {
  font-size: 24px;
  color: #555;
  line-height: 1.25;
}

.resources-actual {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px; /* Adjust the margin */
  background-color: #f9f9f9;
  color: #333;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify;
  border-radius: 10px;
  font-size: 24px;
  color: #555;
  line-height: 1.25;
}

.resources-actual ol li a {
  text-decoration: none;
  color: #fff;
  background-color: #c60226;
  font-weight: bold;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: dc0027;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.resources-actual ol li a:hover {
  background-color: #9d001d;
  transform: scale(1.1);
}

.about-us-start {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  margin-top: 120px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px; /* Adjust the margin */
  background-color: #f9f9f9;
  color: #333;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.about-us-start h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #333;
}

.about-us-start p {
  font-size: 24px;
  color: #555;
  line-height: 1.25;
}

.bottom-info {
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e0e0e0;
  color: #333;
  padding: 20px;
  text-align: center;
  line-height: 0.5;
}
